/include
/bin
/lib
.env
pyvenv.cfg
/scripts
/static/img/uploads/*
/__pycache__/*
*.pyc
backend/models/__pycache__/UserRoles.cpython-312.pyc
backend/models/__pycache__/UserRoles.cpython-312.pyc
backend/models/__pycache__/User.cpython-312.pyc
backend/models/__pycache__/Tasks.cpython-312.pyc
backend/models/__pycache__/Roles.cpython-312.pyc
backend/models/__pycache__/PostUpVotes.cpython-312.pyc
backend/models/__pycache__/Groups.cpython-312.pyc
backend/models/__pycache__/GroupPosts.cpython-312.pyc
backend/models/__pycache__/GroupMembers.cpython-312.pyc
backend/models/__pycache__/__init__.cpython-312.pyc
backend/db.py
backend/__pycache__/db.cpython-312.pyc
backend/__pycache__/__init__.cpython-312.pyc
.DS_Store
