{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/config_user.css') }}">
{% endblock %}

{% block content %}
<nav class="sidebar">
    <ul>
        <li id="userConfig">
            <button
                id="userConfigButton"
                onclick="document.getElementById('userConfigMenu').classList.toggle('show')">
                <i class="fas fa-cog"></i>
                <span>Configuración</span>
        </button>
        </li>
        <li id="userTasks">
            <a href="#"> <!-- /config_user/tasks -->
                <i class="fas fa-tasks"></i>
                <span>Tareas</span>
            </a>
        </li>
        <li id="userPrivacy">
            <a href="#"> <!-- /config_user/privacy -->
                <i class="fas fa-user-secret"></i>
                <span>Privacidad</span>
            </a>
        </li>
        <li id="deleteAccount">
            <a href="#"> <!-- /config_user/delete -->
                <i class="fas fa-user-minus"></i>
                <span>Eliminar cuenta</span>
            </a>
        </li>
    </ul>
</nav>
<main>
    <!-- Here are all menu for configurations -->
    <div id="userConfigMenu" class="show">
        <div class="user-config-content">
            <div class="user-config-header">
                <h2>Configuración personal</h2>
            </div>
            <div class="user-config-body">
                <div class="user-info">
                    <div class="profile-picture">
                        {% if not session['profile_image_url'] %}
                            <img id="profile-img" src="{{ url_for('static', filename='img/default-user.webp') }}" alt="profile picture">
                        {% else %}
                            <img id="profile-img" src="{{ url_for('static', filename='img/uploads/' + session['profile_image_url']) }}" alt="profile picture">
                        {% endif %}
                        <p>
                            {{ session['username'] }}
                        </p>
                    </div>
                    <form action="">
                        <!-- user data modificable (except username) -->
                        <div class="data-item">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" id="username" name="username" value="{{ session['username'] }}" disabled>
                        </div>
                        <div class="data-item">
                            <label for="email">Correo electrónico</label>
                            <input type="email" id="email" name="email" value="{{ session['email'] }}" >
                        </div>
                        <div class="data-item">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" value="{{ session['name'] }}">
                        </div>
                        <button id="modifyProfileButton" type="submit">
                            Guardar cambios
                        </button>
                    </form>
                    {% if session['created_at'] and session['updated_at'] %}
                        <div class="data-item">
                            <p>
                                Usuario creado: <strong>{{ session['created_at'] }}</strong>
                            </p>
                        </div>
                        <div class="data-item">
                            <p>
                                Última actualización: <strong>{{ session['updated_at'] }}</strong>
                            </p>
                        </div>
                    {% else %}
                    <p>
                        Para ver estos datos, actualiza tu perfil
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
<div class="profile-img-menu">
    <span id="close-profile-img-menu">
        &times;
    </span>
    <div id="drop-area">
        {% if not session['profile_image_url'] %}
            <img id="profile-img" src="{{ url_for('static', filename='img/default-user.webp') }}" alt="profile picture">
        {% else %}
            <img id="profile-img" src="{{ url_for('static', filename='img/uploads/' + session['profile_image_url']) }}" alt="profile picture">
        {% endif %}
        <p>Arrastra y suelta una imagen aquí, o haz clic para seleccionar una</p>
        <input type="file" id="fileElem" multiple accept="image/*" style="display:none">
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script src="{{ url_for('static', filename='js/config/config_user.js') }}"></script>
{% endblock %}