.container-admin {
    margin-top: 50px;
}

.container-admin h1 {
    margin-bottom: 20px;
}

.container-admin .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 24px;   
    gap: 25px;
}

.container-admin .stats .stat {
    text-align: center;
}


.container-admin .stats .stat p {
    margin-bottom: 0;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }   


   #user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    cursor: pointer;
}

.user-search-result img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-search-result h3 {
    margin: 0;
}

.user-search-result p {
    margin: 0;
}

.user-search-result:hover {
    transition: all 0.3s ease;
    background-color: #fff2f2;
}

.user-search-result:active {
    transition: all 0.3s ease;
    background-color: #fff2f2;
}

.send-system-notification-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.send-system-notification-form h2 {
    margin-bottom: 20px;
}

.send-system-notification-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.send-system-notification-form form .group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.send-system-notification-form form .group textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #0d0c22;
    outline: none;
    resize: none;
    margin-bottom: 20px;
}

.send-system-notification-form form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ea4c89;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all 0.3s ease;
}

.send-system-notification-form form button:hover {
    background-color: #ff6baf;
}

.send-system-notification-form form button:active {
    background-color: #ff6baf;
}

.send-system-notification-form form .group label {
    margin-bottom: 10px;
}