.groups-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    justify-content: center;
    gap: 60px;
}

h1 {
    color: mediumpurple;
}

ul {
    list-style-type: none;
    padding: 0;
}

.group-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}control_member.js

.group-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.group-card-header h2,
.group-card-body h2 {
    color: mediumpurple;
    margin-top: 0;
}

.group-card-header p,
.group-card-body p {
    color: #666;
}

.group-card-funcs a {
    display: inline-block;
    text-decoration: none;
    background-color: mediumpurple;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.group-card-funcs a:hover {
    background-color: darken(mediumpurple, 10%);
}

.task-counter, .group-members {
    display: inline-block;
    margin-right: 20px;
}

.task-counter h2, .group-members h2 {
    margin: 0;
    font-size: 1rem;
}

.task-counter p span, .group-members p span {
    font-weight: bold;
}

a {
    color: mediumpurple;
}

a:hover {
    text-decoration: underline;
}

.container-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-header h1 {
    color: mediumpurple;
    margin: 0;
}

.container-header p {
    color: mediumpurple;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container-header p:hover {
    background-color: darken(mediumpurple, 10%);
}

.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.group-items .miembros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group-items .top-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.group-items .top-card h2 {
    color: mediumpurple;
    margin: 0;
}

.group-items .top-card button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: mediumpurple;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.group-items .top-card button:hover {
    background-color: darken(mediumpurple, 10%);
}

.group-items .miembros ul {
    /* two columns */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.group-items .miembros ul img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* for even image */
.group-items .miembros ul img:nth-child(even) {
    border: 2px dashed mediumpurple;
}

.group-items .miembros ul img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.group-items .miembros ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 6px;
    border-radius: 5px;
}

.group-items .miembros ul li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.group-items .miembros ul li .top-right-image-button {
    position: relative;
    top: 22px;
    right: -22px;
    color: white;
    padding: 1px;
    border-radius: 50%;
    background-color: mediumpurple;
    border: none;
}

.group-items .miembros ul li .top-right-image-button:hover {
    background-color: darken(mediumpurple, 20%);
    cursor: pointer;
    transform: scale(1.1);
}

.group-items .miembros ul li .top-right-image-button button {
    padding: 1px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
}

.group-items .miembros ul li .top-right-image-button button i {
    color: white;
    font-size: 13px;
}

.group-items .miembros ul li p {
    color: black;
    text-decoration: none;
}

.group-items .tareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group-items .tareas h2 {
    color: mediumpurple;
    margin: 0;
}

.group-items .tareas ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 4px;
    border-radius: 2px;
}

.group-items .tareas ul .task-info { 
    display: grid;
    /* two columns */
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: auto;
    min-width: 600px;
}

.group-items .tareas ul .task-info:hover {
    transition: all 0.3s ease;
    background-color: #e6e6e6;
}

.group-items .tareas ul .task-info aside.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.group-items .tareas ul .task-info aside.left li {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.group-items .tareas ul .task-info aside.left li h2 {
    color: mediumpurple;
    margin: 0;
}

.group-items .tareas ul .task-info aside.left li p {
    color: #666;
}

.group-items .tareas ul .task-info aside.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.group-items .tareas ul .task-info aside.right li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.group-items .tareas ul .task-info aside.right li h3 {
    color: mediumpurple;
    margin: 0;
    font-weight: 400;
}

.group-items .tareas ul .task-info aside.right li p {
    color: #666;
}

.create-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create-group-container h1 {
    color: mediumpurple;
}

.create-group-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create-group-container form .item-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

.create-group-container form .item-data label {
    color: mediumpurple;
}

.create-group-container form .item-data input {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.create-group-container form .item-data input:focus {
    border: 1px solid mediumpurple;
}

.create-group-container form .item-data textarea {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.create-group-container form .item-data textarea:focus {
    border: 1px solid mediumpurple;
}

.create-group-container form button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: mediumpurple;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-group-container form button:hover {
    background-color: darken(mediumpurple, 10%);
}

.addMemberModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#closeMemberModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#closeMemberModal:hover,
#closeMemberModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#userSearchInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#userSearchResults {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#userSearchResults img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.user-search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
    padding: 8px 15px;
}

.user-search-result:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

#addTaskModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

.close-btn #closeTaskModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn #closeTaskModal:hover,
.close-btn #closeTaskModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tasks-list {
    display: grid;
    /* 3 columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 19px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task-item h3 {
    color: mediumpurple;
    margin: 0;
}

.task-item p {
    color: #666;
}

.task-item button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: mediumpurple;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content#tasksModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    padding: 12px;
    border-radius: 10px
}