/* profile like social media */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    height: 100%;
}

body section {
    width: 100%;
    height: 100%;
}

.containerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
    padding-top: 150px;
}

.containerProfile .profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.containerProfile .profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 2px solid #2e2e2e;

}

.containerProfile .profile-header .profile-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.containerProfile .profile-header .profile-name h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.containerProfile .profile-header .profile-name p {
    font-size: 16px;
    margin: 0;
    color: #666;
}

.containerProfile .profile-content {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.containerProfile .profile-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.containerProfile .profile-content .personal-data {
    width: 65%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerProfile .profile-content .personal-data .data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.containerProfile .profile-content .personal-data .data p {
    font-size: 16px;
    color: #666;
}

.containerProfile .profile-content #estadisticas {
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerProfile .profile-content #estadisticas h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.containerProfile .profile-content #estadisticas .statistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.containerProfile .profile-content #estadisticas .statistics .stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerProfile .profile-content #estadisticas .statistics .stat p {
    font-size: 16px;
    color: #666;
    margin-left: 10px;
}

.funcs-of-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    flex-direction: column;
}

.funcs-of-admin button {
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.funcs-of-admin button:hover {
    background-color: #333;
}

.funcs-of-admin .menu {
    /* drop menu under button */
    display: none;
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.funcs-of-admin .menu a {
    display: block;
    padding: 10px 20px;
    color: #666;
    font-size: 16px;
    text-decoration: none;
    transition: .3s;
}

.funcs-of-admin .menu a:hover {
    background-color: #f5f5f5;
}

.funcs-of-admin:hover button + .menu {
    display: flex;
    flex-direction: column;
}

.funcs-of-admin .menu a:last-child {
    border-top: 1px solid #f5f5f5;
}

.funcs-of-admin .menu a:last-child:hover {
    background-color: #f5f5f5;
}

.funcs-of-admin .menu a:last-child:hover {
    border-radius: 0 0 5px 5px;
}