{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/groups.css') }}"
/>
{% endblock %} {% block content %}
<!-- mostrar miembros del grupo -->
<div class="container-group">
  <div class="container-header">
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>
  </div>
  <div class="container-body">
    <div class="group-items">
      <div class="leave-button">
        <!-- if not owner -->
        {% if user_id != group.owner_id %}
        <button onclick="leaveGroup({{ group.id }})">
          <i class="fas fa-sign-out-alt"></i>
        </button>
        {% else %}
        <button onclick="deleteGroup({{ group.id }})">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button onclick="window.location.href='{{ url_for('edit_group', group_id=group.id) }}'">
          <i class="fas fa-edit"></i>
        </button>
        {% endif %}
      </div>
      <div class="miembros">
        <div class="top-card">
          <h2>Miembros</h2>
          <button id="add-member-btn">
            <i class="fas fa-user-plus"></i>
          </button>
          <div id="addMemberModal" class="addMemberModal">
            <div class="modal-content">
              <span id="closeMemberModal">&times;</span>
              <input
                type="text"
                id="userSearchInput"
                placeholder="Buscar usuario..."
              />
              <div id="userSearchResults"></div>
            </div>
          </div>
        </div>
        <ul>
          {% for member in members %}
          <div class="top-right-image-button">
            <button onclick="deleteMemberFromGroup({{ member.id }})">
              <i class="fas fa-user-minus"></i>
            </button>
          </div>
          <li
            onclick=" location.href='{{ url_for('profile', username=member.username) }}' "
          >
            <!-- button for delete -->
            <img
              src="{{ url_for('static', filename='img/uploads/' + member.profile_image_url ) }}"
              alt="{{ member[1] }}"
            />
            <p>{{ member.username }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tareas">
        <div class="top-card">
          <h2>Tareas</h2>
          <button id="add-task-btn">
            <i class="fas fa-plus"></i>
          </button>
          <!-- modal deployed by button to sync task with group -->
          <div id="addTaskModal">
            <!-- show user tasks -->
            <div class="modal-content" id="tasksModal">
              <div class="close-btn">
                <span id="closeTaskModal">&times;</span>
              </div>
              <div class="tasks-list">

                {% if user_tasks == [] %}
                <div class="task-item">
                  <h3>
                    Debes tener tareas creadas para agregar una al grupo 😛
                  </h3>
                </div>
                {% endif %} {% for task in user_tasks %}
                <div class="task-item">
                  <h3>{{ task.title }}</h3>
                  <p>{{ task.description }}</p>
                  <button onclick="addTaskToGroup({{ task.id }})">
                    Agregar
                  </button>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <ul>
          {% if tasks == [] %}
          <li>No hay tareas</li>
          {% endif %} {% for task in tasks %}
          <div class="task-info">
            <aside class="left">
              <li>
                <h2>Titulo: {{ task.title }}</h2>
              </li>
              <li>
                <p>Descripcion: {{ task.description }}</p>
              </li>
            </aside>
            <aside class="right">
              <li class="fecha">
                <h3>Fecha: {{ task.due_date }}</h3>
              </li>
              <li>
                {% if task.completed == False %}
                <p>Estado: Pendiente</p>
                {% else %}
                <p>Estado: Completada</p>
                {% endif %}
              </li>
            </aside>
          </div>
          {% endfor %}
        </ul>
      </div>
      <!-- posts -->
      <div class="posts">
        <div class="top-card">
          <h2>Publicaciones</h2>
        </div>
        <form action="" id="create-post-form">
          <div class="posts-item-data">
            <label for="title"> Titulo
            </label>
            <input
              type="text"
              id="post-title"
              name="title"
              placeholder="Titulo"
              required
            />
          </div>
          <div class="posts-item-data">
            <label for="content"> Contenido
            </label>
            <textarea
              id="post-content"
              name="content"
              placeholder="Contenido"
              required
            ></textarea>
          </div>
          <div class="posts-item-data">
            <button id="create-post-btn" type="submit">Crear</button>
          </div>
        </form>
        <div class="posts-list">
          {% if posts == [] %}
          <div class="post-item">
            <h3>No hay publicaciones</h3>
          </div>
          {% endif %} {% for post in posts %}
          <div class="post-item">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <div class="funcs">
              <div class="upvotes">
                <button onclick="upVotePost({{ post.id }})">
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <p>{{ upvotes[loop.index0] }}</p>
              </div>
                <button class="delete" onclick="">
                  <i class="fas fa-trash-alt"></i>
                </button>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="modal-posts">
  <!-- create a post in this group -->
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/groups/control_member.js') }}"></script>
{% endblock %}
