{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/groups.css') }}">
{% endblock %}

{% block content %}
<!-- si la sesion existe -->
<div class="groups-container">
    {% if session['username'] %}
        <h1>Groups</h1>
        {% if groups == [] %}
            <li>No groups found</li>
            <p>
                But you can create one <a href="{{ url_for('create_group') }}">here</a>
            </p>
        {% endif %}
        <a href="{{ url_for('create_group') }}">Create group</a>
        <ul>
            {% for group in groups %}
                <div class="group-card">
                    <div class="group-card-header">
                        <h2>{{ group[1] }}</h2>
                        <p>{{ group[2] }}</p>
                    </div>
                    <div class="group-card-body">
                        <div class="task-counter">
                            <h2>Tareas asignadas</h2>
                            <p><span>
                                {{ total_tasks[loop.index0] }}
                            </span></p>
                        </div>
                        <div class="group-members">
                            <h2>Miembros</h2>
                            <p><span>
                                {{ total_members[loop.index0] }}
                            </span></p>
                        </div>
                    </div>
                    <div class="group-card-funcs">
                        <a href="{{ url_for('group', group_id=group[0]) }}">Ver grupo</a>
                        {% if group[3] == user_id[0] %}
                            <a href="{{ url_for('edit_group', group_id=group[0]) }}">Editar grupo</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Groups</h1>
        <p>
            You need to be logged in to see the groups
        </p>
    {% endif %}
</div>
{% endblock %}
