<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Tareas
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- import axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- notifications toaster -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header id="navbar">
        <nav>
            <ul>
                <i class="fas fa-moon" id="change-theme"></i>
            </ul>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('tasks') }}">Ver tareas</a></li>
                <li><a href="{{ url_for('groups') }}">Grupos</a></li>
                {% if session['role'] == 'admin' %}
                    <li><a href="{{ url_for('dashboard') }}">Admin</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if session['username'] %}
                <!-- profile menu on hover -->
                <div class="input">
                    <input type="checkbox" id="profile-menu">
                    <label for="profile-menu">
                        <div class="profile-picture">
                            {% if session['profile_image_url'] %}
                                <img src="{{ url_for('static', filename='img/uploads/' + session['profile_image_url']) }}" alt="profile picture">
                            {% else %}
                                <img src="{{ url_for('static', filename='img/default-user.webp') }}" alt="profile picture">
                            {% endif %}
                            </div>
                    </label>
                    <div class="profile-menu">
                        <ul>
                            <li>
                                <i class="fas fa-user"></i>
                                <a href="/profile/{{ session['username'] }}">Perfil</a>
                            </li>
                            <li>
                                <i class="fas fa-cog"></i>
                                <a href="{{ url_for('config_user') }}">Configuration</a>
                            </li>
                            <li>
                                <i class="fas fa-sign-out-alt"></i>
                                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <div class="modal" id="createTaskModal">
        <!-- modal for create task -->
        <div class="modal-create-task">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Crea una tarea</h2>
            <form id="create-task-form" onsubmit="createTaskForm(event)">
              <div class="form-group">
                <label for="task-name">Nombre de la tarea</label>
                <input type="text" id="task-name" name="task-name" required>
              </div>
              <div class="form-group">
                <label for="task-description">Descripción de la tarea</label>
                <textarea id="task-description" name="task-description" required></textarea>
              </div>
              <div class="form-group">
                <label for="task-date">Fecha de entrega</label>
                <input type="date" id="task-date" name="task-date" required>
              </div>
              <!-- choice priority -->
                <div class="form-group">
                    <label for="task-priority">Prioridad</label>
                    <select id="task-priority" name="task-priority" required>
                        <option value="1">Baja</option>
                        <option value="2">Media</option>
                        <option value="3">Alta</option>
                    </select>
                </div>
              <div class="form-group">
                <button type="submit">Crear tarea</button>
              </div>
            </form>
      </div>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>