<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Tareas
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- import axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- notifications toaster -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <header id="navbar">
        <nav>
            <ul>
                <i class="fas fa-moon" id="change-theme"></i>
            </ul>
            <ul>
                <a href="{{ url_for('home') }}">Inicio</a>
                <a href="{{ url_for('tasks') }}">Ver tareas</a>
                <a href="{{ url_for('groups') }}">Grupos</a>
                {% if session['role'] == 'admin' %}
                    <a href="{{ url_for('dashboard') }}">Admin</a>
                {% endif %}
            </ul>
            <ul>
                {% if session['username'] %}
                <!-- profile menu on hover -->
                <div class="input">
                    <input type="checkbox" id="profile-menu">
                    <!-- notification  -->
                        <div class="notification" id="notification" onclick="showNotifications()">
                            <i class="fas fa-bell"></i>
                            {% if unreaded_notifications > 0 %}
                            <span id="notification-count">{{unreaded_notifications}}</span>
                            {% else %}
                            <span id="notification-count" style="display: none;"></span>
                            {% endif %} 
                        </div>
                    <div class="notification-menu" id="notification-list">
                        <ul>
                            {% if notifications|length == 0 %}
                            <li>
                                <a href="#">
                                    <p>No tienes notificaciones</p>
                                </a>
                            </li>
                            {% else %}
                            {% for notification in notifications %}
                            <li
                            id="notification-{{ notification['id'] }}"
                            {% if notification['read'] == False %}
                            class="unread"
                            onclick="readNotification( {{ notification['id'] }} )"
                            {% endif %}
                            >
                                <a href="#">
                                    <p>{{notification['message']}}</p>
                                </a>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <label for="profile-menu">
                        <div class="profile-picture">
                            {% if session['profile_image_url'] %}
                                <img src="{{ url_for('static', filename='img/uploads/' + session['profile_image_url']) }}" alt="profile picture">
                            {% else %}
                                <img src="{{ url_for('static', filename='img/default-user.webp') }}" alt="profile picture">
                            {% endif %}
                        </div>
                    </label>
                    <div class="profile-menu">
                        <ul>
                            <div class="item">
                                
                                <a href="/profile/{{ session['username'] }}"><i class="fas fa-user"></i>Perfil</a>
                            </div>
                            
                            <div class="item">
                                
                                <a href="{{ url_for('config_user') }}"><i class="fas fa-cog"></i>Configuration</a>
                            </div>
                            
                            <div class="item">
                               
                                <a href="{{ url_for('logout') }}"> <i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
                            </div>
    
                        </ul>
                    </div>
                </div>
                
                {% else %}
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
                <a href="{{ url_for('register') }}">Registrarse</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <div class="modal" id="createTaskModal">
        <!-- modal for create task -->
        <div class="modal-create-task">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Crea una tarea</h2>
            <form id="create-task-form" onsubmit="createTaskForm(event)">
              <div class="form-group">
                <label for="task-name">Nombre de la tarea</label>
                <input type="text" id="task-name" name="task-name" required>
              </div>
              <div class="form-group">
                <label for="task-description">Descripción de la tarea</label>
                <textarea id="task-description" name="task-description" required></textarea>
              </div>
              <div class="form-group">
                <label for="task-date">Fecha de entrega</label>
                <input type="date" id="task-date" name="task-date" required>
              </div>
              <!-- choice priority -->
                <div class="form-group">
                    <label for="task-priority">Prioridad</label>
                    <select id="task-priority" name="task-priority" required>
                        <option value="1">Baja</option>
                        <option value="2">Media</option>
                        <option value="3">Alta</option>
                    </select>
                </div>
              <div class="form-group">
                <button type="submit">Crear tarea</button>
              </div>
            </form>
      </div>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        const socket = io('http://localhost:8001');
        socket.on('connect', () => {
            console.log('connected');
        });

        socket.on('check_notifications', (data) => {
            console.log(data);
            if (data['notifications'] > 0) {
                document.getElementById('notification-count').style.display = 'block';
                document.getElementById('notification-count').innerText = data['notifications'];
            } else {
                document.getElementById('notification-count').style.display = 'none';
            }
        });
    </script>
</body>
</html>